<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">NoQ Angular</h3>
</div>

    <div ng-controller="guestCtrl">
      <span>Current Queue Members {{guests.length}}</span>
      [ <a href="" ng-click="archive()">remove selected</a> ]
      <ol class="unstyled">
        <li ng-repeat="guest in guests">
          <span class="done-{{guest.done}}">{{guest.name}}</span>
          <input type="checkbox" ng-model="guest.done">
        </li>
      </ol>
      <form ng-submit="addGuest()">
        <input type="text" ng-model="guestName"  size="30"
               placeholder="add new guest here">
        <input class="btn-primary" type="submit" value="add">
      </form><br>
    </div>

<div class="footer">
  <p>2014 Rob Anderson</p>
</div>
